# Указываем что это текстовые файлы
*.cpp text
*.h text
*.txt text
*.md text

# Принудительно UTF-8
*.cpp charset=utf-8
*.h charset=utf-8
*.txt charset=utf-8
*.md charset=utf-8

# Отключаем обработку бинарных файлов
*.png binary
*.jpg binary
*.exe binary